@model INode

@switch (Model.NodeType)
{
    case NodeType.Blank:
        <span property="@ViewBag.Property" resource="@Model">[blank]</span>
        break;

    case NodeType.Uri:
        <a property="@ViewBag.Property" href="@Model">@Model.AsQName()</a>
        break;

    default:
    case NodeType.Literal:
        var literal = (ILiteralNode)Model;

        <span property="@ViewBag.Property" datatype="@literal.DataType" lang="@literal.Language">@literal</span>
        break;
}
