@page
@{
    ViewBag.Title = "TITLE";
    ViewBag.Description = "DESCRIPTION";
}

<div class="container">
    <h1>TITLE</h1>
    <p class="lead">LEAD</p>
    <a asp-controller="shacl" asp-action="validate">VALIDATE</a>
    <a asp-controller="shacl" asp-action="conforms">CONFORMS</a>
    <details open>
        <summary>EXAMPLES</summary>
        <ul>
            @{
                var paths = new[] {
                    "core/complex/personexample",
                    "core/misc/message-001",
                    "core/path/path-complex-001",
                    "core/path/path-alternative-001",
                    "core/complex/shacl-shacl-data-shapes",
                    "sparql/node/prefixes-001"
                };
                var formats = Configuration.MediaTypes.Select(m => m.Extension);
                foreach (var path in paths)
                {
                    var u = Url.AbsoluteContent($"~/test-suite/{path}.ttl");

                    <li>
                        <a asp-controller="shacl" asp-action="conforms" asp-fragment="report" asp-route-DataGraphUri="@u" asp-route-ShapesGraphUri="@u">Conforms @path</a>
                    </li>
                    foreach (var format in formats)
                    {
                        <li>
                            <a asp-controller="shacl" asp-action="validate" asp-fragment="report" asp-route-DataGraphUri="@u" asp-route-ShapesGraphUri="@u" asp-route-format="@format">Validate @path (@format)</a>
                        </li>
                    }
                }
            }
        </ul>
    </details>
</div>